altgraph==0.17.4
APScheduler==3.10.4
auto-py-to-exe==2.43.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.3.1
contourpy==1.2.0
cycler==0.12.1
Eel==0.16.0
fonttools==4.50.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.6
importlib-metadata==7.1.0
importlib-resources==6.4.0
kiwisolver==1.4.5
loguru==0.7.2
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==1.4.3
pefile==2023.2.7
pillow==10.2.0
pycparser==2.21
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
requests==2.31.0
six==1.16.0
tzdata==2024.1
tzlocal==5.2
urllib3==2.2.1
whichcraft==0.6.1
win32-setctime==1.1.0
zipp==3.18.1
zope.event==5.0
zope.interface==6.2
